<table style="width:100%;font-family:cursive;">
    <tbody>
        <tr>
            <td style="height:50px;background-color:maroon;color:white;text-align:center;font-size:30px">
                CosmaticTrade
            </td>
        </tr>
        <tr>
            <td style="text-align:center">
                <img style="width:150px;" src="https://images.vexels.com/media/users/3/157931/isolated/preview/604a0cadf94914c7ee6c6e552e9b4487-curved-check-mark-circle-icon-by-vexels.png" />
                <h2 style="color:maroon;margin-top:0">Your order has been received.</h2>
                <p style="margin:5px 0" ;>Dear <b style="text-transform:capitalize;">@(((Order)Session["Order"]).User.Username)</b>,</p>
                <p style="margin:5px 0">Order Number: <b>@(((Order)Session["Order"]).OrderNumber)</b></p>
                <p style="margin:5px 0">Amount to be paid: <b>@(((Order)Session["Order"]).OrderDetails.Sum(i => i.UnitPrice).ToString("c2"))</b></p>
                <p style="margin:5px 0">Cargo Company: <b>@(((Order)Session["Order"]).Shipper.CompanyName)</b></p>
                <p style="margin:5px 0"><b>@(((Order)Session["Order"]).User.ShipAddress)</b> will be delivered to your address.</p>
            </td>
        </tr>
    </tbody>
</table>

<table style="width:700px;margin:auto;border-collapse: collapse;border: 1px solid maroon;font-family:cursive;">
    <thead>
        <tr>
            <th style="text-align:left;border: 1px solid maroon;padding:5px 10px">Product</th>
            <th style="width:70px;text-align:center;border: 1px solid maroon;padding:5px">Quantity</th>
            <th style="width:100px;text-align:center;border: 1px solid maroon;padding:5px">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ((Order)Session["Order"]).OrderDetails)
        {
            <tr>
                <td style="text-align:left;border: 1px solid maroon;padding:5px 10px">@(item.Product.Brand + " - " + item.Product.Name)</td>
                <td style="text-align:center;border: 1px solid maroon;padding:5px">@item.Quantity</td>
                <td style="text-align:center;border: 1px solid maroon;padding:5px">@item.UnitPrice.ToString("c2")</td>
            </tr>
        }
    </tbody>
</table>

<p style="width:700px;margin:10px auto;text-align:center; font-family:cursive;">
    Your order,traffic,road condition and other factors may change the delivery time of your order.
    <br />
    Thank you for choosing us.
    <br />
    Regards,
    <br />
    CosmaticTrade
</p>







