@model LoginDTO
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background-color:#d2d2d2">
    <div class="container">
        <div class="row" style="margin-top:100px">
            <div class="col-lg-4 col-md-6 col-sm-9 mx-auto">
                <div class="card card-body shadow-lg">
                    <div class="p-2 rounded shadow" style="background-color:#2bbbad; margin-top:-50px;">
                        <span class="btn btn-light btn-block font-weight-bold" style="color:#2bbbad;">Login</span>
                    </div>
                    <div id="LoginAlert" class="alert alert-dark mt-3">
                        @ViewBag.LoginUserError
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label " })
                            <div>
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label " })
                            <a href="/Account/ForgotPassword" class="btn btn-link text-center float-right p-0">Forgot Password?</a>
                            <div>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Log in" class=" btn btn-LR text-white d-inline mt-2 btn-block" style="background-color:#2bbbad;" />
                        </div>
                    }
                    <hr />
                    <a href="/Account/Register" class="card-link text-center">Register</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Js/jquery-3.4.1.js"></script>
    <script src="~/Scripts/Js/popper.min.js"></script>
    <script src="~/Scripts/Js/bootstrap.min.js"></script>
    <script src="~/Scripts/Js/js.js"></script>
</body>
</html>
